[submodule "ls/packages/helm"]
	path = ls/packages/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "ls/packages/projectile"]
	path = ls/packages/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "ls/packages/xcscope.el"]
	path = ls/packages/xcscope.el
	url = https://github.com/dkogan/xcscope.el.git
[submodule "ls/packages/solarized-emacs"]
	path = ls/packages/solarized-emacs
	url = https://github.com/bbatsov/solarized-emacs.git
[submodule "ls/packages/dash.el"]
	path = ls/packages/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "ls/packages/scala-mode2"]
	path = ls/packages/scala-mode2
	url = https://github.com/hvesalai/scala-mode2
[submodule "ls/packages/grizzl"]
	path = ls/packages/grizzl
	url = https://github.com/grizzl/grizzl
[submodule "ls/packages/emmet-mode"]
	path = ls/packages/emmet-mode
	url = https://github.com/smihica/emmet-mode
[submodule "ls/packages/color-theme-sanityinc-solarized"]
	path = ls/packages/color-theme-sanityinc-solarized
	url = git@github.com:purcell/color-theme-sanityinc-solarized.git
